@model BeerRootobject

@{
    ViewData["Title"] = "DisplayFinalResults";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-light-grey w3-round-xlarge">
    <div class="w3-container w3-orange w3-round-xlarge" style="width:100%">100%</div>
</div>

<div class="wordart italic-outline"><span class="text">Your Flavor Profile</span></div>

<p>The user id is: @Model.UserFlavorProfile.UserFlavorProfileId</p>

<p>this is a bunch of data</p>

@foreach (var item in Model.data)
{
    <table class="table" style="color:white;">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                ABV
            </th>
            <th>
                Test
            </th>
            <th></th>
        </tr>


        <tr>
            <td>
                @item.style.name
            </td>
            <td>
                @item.style.description
            </td>
            <td>
                @item.style.abvMax
            </td>
            <td>
                @item.name
            </td>
        </tr>

    </table>
}