@model ProfileData
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

@{
    ViewData["Title"] = "UserProfile";
    var fourDaysBack = @DateTime.Now.AddDays(-4).ToString("dd/MM/yyyy");
    var threeDaysBack = @DateTime.Now.AddDays(-3).ToString("dd/MM/yyyy");
    var twoDaysBack = @DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy");
    var oneDayBack = @DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy");
    var today = @DateTime.Now.ToString("dd/MM/yyyy");
}

<div style ="text-align: center;">
    <div class="wordart italic-outline"><span class="text">Your Flavor Profiles</span></div>

    <div style="display: flex; flex-flow: column nowrap;
    background-color: rgba( 250, 250, 250, 0.7 ); box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.3 ); border-radius: 3px;
    margin: 25px 0px; padding: 20px; color: #222222;">


    @if (Model.FavoriteStyleThisWeek == null)
    {
        <h4>
            You haven't been matched with any styles this week
        </h4>
    }
    else
    {
        <h4>
            Your most matched style this week has been
            <strong>@Model.FavoriteStyleThisWeek</strong>
        </h4>
    }

    <h2>Average ABV Over Time</h2>
    <div>
        <p style="color: rgb(220,220,220)">Your Averages</p>
        <p style="color: rgb(240, 142, 67)">Everyone's Averages</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <canvas id="abvChart" width="600" height="300"></canvas>
            </div>
            <div class="col">
                @if (Model.AllAbvAverage > Model.UserAbvAverage)
                {
                    
                    <h2>You tend to choose beers with a lower ABV than other users</h2>
                }
                else
                {
                    
                    <h2>You tend to choose beers with a higher ABV than other users</h2>
                }
            </div>
        </div>
    </div>

    </div>

    <script>




    var data = {
        labels: ["@fourDaysBack", "@threeDaysBack", "@twoDaysBack", "@oneDayBack", "@today"],
        datasets: [
            {
                label: "Your Average ABV",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [@Model.CurrentUserDataOverTime[0]["abv"],
                    @Model.CurrentUserDataOverTime[1]["abv"],
                    @Model.CurrentUserDataOverTime[2]["abv"],
                    @Model.CurrentUserDataOverTime[3]["abv"],
                    @Model.CurrentUserDataOverTime[4]["abv"]]
            },
            {
                label: "All Users Average ABV",
                fillColor: "rgba(240, 142, 67,.3)",
                strokeColor: "rgba(240, 142, 67,.3)",
                pointColor: "rgba(240, 142, 67,.3)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(240, 142, 67,.3)",
                data: [@Model.AllUserDataOverTime[0]["abv"],
                    @Model.AllUserDataOverTime[1]["abv"],
                    @Model.AllUserDataOverTime[2]["abv"],
                    @Model.AllUserDataOverTime[3]["abv"],
                    @Model.AllUserDataOverTime[4]["abv"]]
            }
        ]
    }

    var ctx = new Chart(document.getElementById("abvChart").getContext("2d")).Line(data);
    </script>

</div>
</div>